body {
	font-family: arial;
	font-family: sans-serif;
	background: #fff;
	color: #67757c;
}
.clear{
	clear: both;
}
.top_logo_bar{
	height:54px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	outline: 1px solid #f4f4f4;
	box-shadow: 0px -2px 10px #E5E5E5;
	z-index: 10;
	background: #fff;
}
.left_right_partition{
	position: fixed;
	top: 54px;
	left: 0;
	bottom: 0;
	box-shadow: 0px 0px 15px 0px #E5E5E5;
	z-index: 1;
	width: 215px;
	outline: 1px solid #f4f4f4;
	background: #fff;
}
.left_section{
	position: absolute;
	top: 54px;
	left: 0;
	z-index: 2;
	width: 215px;
}
.right_section {
	position: absolute;
	top: 54px;
	left: 215px;
	right: 0;
	z-index: 0;
	background: #FAFAFA;
}
.right_section_top_bar {
	background: #fff;
	width: 100%;
	height: 53px;
	box-shadow: 0px -4px 10px #E5E5E5;
	outline: 1px solid #f4f4f4;
	margin-bottom: 26px;
}


.nav_link_header {
	font-size: 11px;
	line-height: 20px;
	padding-left: 18px;
	padding-top: 17px;
	color: #607d8b;
}
.nav_link {
	margin: 17px 10px 5px 13px;
}
.nav_link a {
	color: #607d8b;
	text-decoration: none;
	font-size: 12px;
	display: block;
	line-height: 20px;
}
.nav_link a span.link_text{
	margin-left: 10px;
}
.nav_link a:hover {
	color: #1976d2;
}
.nav_link a:active {
	
}
span.link_text:before, span.link_text::before {
	content: "\8441";
	float: left;
	height: 30px;
	display: block;
	margin-top: 2px;
}
.link_count{
	background: #4680ff;
	color: #fff;
	line-height: 11px;
	padding: 4px 8px 2px;
	font-size: 9px;
	border-radius: 3px;
	margin-right: 8px;
}
.link_arrow{
	float: right;
}
a:hover .link_arrow{
	color: #607d8b;
}
.link_arrow:after, .link_arrow::after {
	clear: both;
}
.nav_link .sub_links{
	height: 0;
	overflow: hidden;
}
.nav_link:hover .sub_links{
	overflow: auto;
	height: auto;
}
.sub_links {
	margin-left: 26px;
}
.sub_links a{
	margin-top: 13px;
	line-height: 16px;
}

.page_title {
	font-size: 17px;
	line-height: 55px;
	margin-left: 22px;
	color: #007bff;
}



.content_section {
    margin: 12px 14px;
}
.content_section .wrapper {
	float: left;
}
.content_section .w100per {
	width: 100%;
}
.content_section .w80per {
	width: 80%;
}
.content_section .w75per {
	width: 75%;
}
.content_section .w70per {
	width: 70%;
}
.content_section .w60per {
	width: 60%;
}
.content_section .w50per {
	width: 50%;
}
.content_section .w40per {
	width: 40%;
}
.content_section .w30per {
	width: 30%;
}
.content_section .w25per {
	width: 25%;
}
.content_section .w20per {
	width: 20%;
}
.content_box{
    margin: 14px;
	background: #fff;
    border: 0 solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 5px 20px #E5E5E5;
    height: 218px;
}


.copyright_footer {
	background: #fff;
	height: 53px;
	font-size: 16px;
	line-height: 53px;
	padding-left: 20px;
	color: #67757c;
	outline: 1px solid #E5E5E5;
	margin-top: 26px;
}