.nav_link_header {
	font-size: 11px;
	line-height: 20px;
	padding-left: 18px;
	padding-top: 17px;
	color: #607d8b;
}
.nav_link {
	margin: 17px 10px 5px 13px;
}
.nav_link a {
	color: #607d8b;
	text-decoration: none;
	font-size: 12px;
	display: block;
	line-height: 20px;
}
.nav_link a span.link_text{
	margin-left: 10px;
}
.nav_link a:hover {
	color: #1976d2;
}
.nav_link a:active {
	
}
span.link_text:before, span.link_text::before {
	content: "\8441";
	float: left;
	height: 30px;
	display: block;
	margin-top: 2px;
}
.link_count{
	background: #4680ff;
	color: #fff;
	line-height: 11px;
	padding: 4px 8px 2px;
	font-size: 9px;
	border-radius: 3px;
	margin-right: 8px;
}
.link_arrow{
	float: right;
}
a:hover .link_arrow{
	color: #607d8b;
}
.link_arrow:after, .link_arrow::after {
	clear: both;
}
.nav_link .sub_links{
	height: 0;
	overflow: hidden;
}
.nav_link:hover .sub_links{
	overflow: auto;
	height: auto;
}
.sub_links {
	margin-left: 26px;
}
.sub_links a{
	margin-top: 13px;
	line-height: 16px;
}