
	<div class="right_section">
		<div class="right_section_top_bar">
			<div class="page_title">Dashboard</div>
		</div>
		<div class="content_section">
			<div class="wrapper w100per clear_after">
				<div class="content_box">
					<div class="data_table_wrapper">
						<table>
							<tr>
								<th>Id</th>
								<th>Search Word</th>
								<th>Language</th>
								<th>Action</th>
							</tr>
							<tr class="dark">
								<td>text</td>
								<td>text</td>
								<td>text</td>
								<td>text</td>
							</tr>
							<tr>
								<td>text</td>
								<td>text</td>
								<td>text</td>
								<td>text</td>
							</tr>
							<tr class="dark">
								<td>text</td>
								<td>text</td>
								<td>text</td>
								<td>text</td>
							</tr>
							<tr>
								<td>text</td>
								<td>text</td>
								<td>text</td>
								<td>text</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="content_section">
			<div class="wrapper w50per">
				<div class="content_box"> This is content section1</div>
			</div>
			<div class="wrapper w25per">
				<div class="content_box"> This is content section1</div>
			</div>
			<div class="wrapper w25per">
				<div class="content_box"> This is content section1</div>
			</div>
			<div class="wrapper w40per">
				<div class="content_box"> This is content section1</div>
			</div>
			<div class="wrapper w60per clear_after">
				<div class="content_box"> This is content section1</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="content_section">
			<div class="wrapper w100per clear_after">
				<div class="content_box"> This is content section2</div>
			</div>
			<div class="clear"></div>
		</div>
		{footer}
	</div>